blinker==1.9.0
click==8.3.1
Flask==3.1.2
flask-cors==6.0.2
gunicorn==25.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql==0.0.3
mysql-connector-python==9.6.0
mysqlclient==2.2.8
packaging==26.0
titlecase==2.4.1
ua-parser==1.0.1
ua-parser-builtins==202602
user-agents==2.2.0
Werkzeug==3.1.5
